@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}


:root {
    --clay-grey: #444;
    --dim-white: #f3f3f3;
    --cream-light: #F0EBE3;
    --cream-dim: rgba(255, 255, 255, 0.4);
    --grays-light-blue: #7D9D9C;
    --grays-dark-blue: #576F72;


}

body {
    font-family: "Poppins", sans-serif;
    color: #444;
    background-color: #f3f3f3;
    height: 100vh;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
}

    /* ===========================================nav bar========================= */
    .nav {

        height: 5rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5px;
        text-align: center;
        opacity: 1;
    }

    .login_title {
        margin: 25px 12px;
        padding: 14px 4px;
    }

    .logo img {

        height: 3.4rem;
        margin-left: 20%;
        position: relative;
        left: 14rem;
    }


    .login_id_and_password {
        display: flex;
        position: relative;
        left: 20rem;
        gap: 1rem;
        opacity: 1;

    }

    .input_type_username {
        border: 1px solid #fff;
        border-radius: 10rem;
        width: 7rem;
        font-size: .9rem;
        padding: 0.5rem 2rem;
        text-align: center;
        margin-right: 0px;
        cursor: pointer;
    }

    .input_type_pin {
        border: 1px solid #fff;
        border-radius: 10rem;
        width: 7rem;
        font-size: .9rem;
        padding: 0.5rem 2rem;
        text-align: center;
        margin-right: 0px;
        cursor: pointer;
    }

    .enter_btn{
       
        padding: 0.3rem;
        opacity: 1;

    }



/* =========================================dashboard =================================================== */
.dashboard{
    opacity: 1;
}





/* =================================================================container============================================== */

    .container {
        display: grid;
        grid-template-columns: 4fr 3fr;
        margin: auto 4rem auto;
        padding: 3rem 13rem;
        row-gap: 1rem;
        column-gap: 2.5rem;
       
    
    }


    .container1{
        display: grid;
        grid-template-rows: auto 35fr auto;
        row-gap: 1rem;  
      }

    .container2{
        display: grid;
        grid-template-rows: auto repeat(3,15fr) auto;
        row-gap: 1rem;  
      }


/* ======================================================amount display=================================== */
 

.current_balance {

    font-family: 'Ubuntu', sans-serif;
    
}

.amount_display {
    font-size: 2.6rem;
    display: flex;
    justify-content: flex-end;
   
   
}

.display_total_amt {
    display: flex;
}

.cb_container {
    display: flex;
    gap: .5rem;
    font-size: .9rem;
    font-family: 'Ubuntu', sans-serif;
    color: #7D9D9C;

}



/* +====================================================movement=========================== */

.movement_type {
    height: 73vh;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    background-color: #f3f3f3;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    padding: auto;

}

.deposited {
   
    padding: 22.5px 40px;
    border-radius: 9px 1px 1px 1px; 
    background-color: #FFFFFF;
    font-size: .8rem;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: 1px solid #eee;
}

.deposit_paragraph {
    background: #65be16;
    border-radius: 15px;
    color: #f3f3f3;
    padding: 5px 8px;
    margin: 4px 7px;
    font-size: .7rem;
    
}


.withdrawl {
    
    padding: 22.5px 40px;
    border-radius: 9px 1px 1px 1px; 
    background-color: #FFFFFF;
    font-size: .8rem;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: 1px solid #eee;
}

.withdraw_paragraph {
    background: #df3308;
    border-radius: 15px;
    color: #f3f3f3;
    padding: 5px 8px;
    margin: 4px 7px;
    font-size: .7rem;
    align-self: center;

}

.form {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
/* ===============================================================transfer money=================================== */


.Transfer_money {
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);
    padding: 30px 40px;
    border-radius: 1rem;
    color: #333;
    width: 27rem; height: 10rem;
    
}

.input-transfer-to {
    margin-top: .3rem;
}

h2 {
    margin-bottom: .2rem;
    font-size: 1.2rem;
}

.form_input_1 {

    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
    padding: 0.3rem 1rem;
    border-radius: 0.7rem;
    transition: all 0.3s;
}


.form_input_2 {
   
 width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
    padding: 0.3rem 1rem;
    border-radius: 0.7rem;
    transition: all 0.3s;
}


.h4 {
    margin-top: .5rem;
    font-size: .9rem;
    text-align: center;
}

.form_button {
    margin-top: .4rem;
    padding: .2rem .8rem;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;

}

/* =========================================request_money======================= */


.request_money {

    background-image: linear-gradient(to top left, #39b385, #9be15d);
    display: inline-block;
    padding: 30px 40px;
    border-radius: .5rem;
    width: 27rem;
     height: 10rem;


}

.form_input_3 {

    width: 9rem;
    padding: .3rem 0rem;
    border-radius: 5px;
    background-color: var(--cream-dim);
    border: 0px solid var(--cream-dim);
}

.h5 {

    margin-top: .5rem;
    font-size: .9rem;
    text-align: center;


}

.form_button_R_l {
    margin-top: .2rem;
    padding: .2rem .8rem;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;

}

/* ========================================close_account==================== */


.close_account {

    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
    display: inline-block;
    width: 27rem; 
    height: 10rem;
    padding: 30px 40px;
    border-radius: .5rem
}

.input-transfer-to {
    margin-top: .3rem;
}

h2 {
    margin-bottom: .2rem;
    font-size: 1.2rem;
}

.form_input_4 {
    width: 9rem;
    padding: .3rem 0rem;
    border-radius: 5px;
    background-color: var(--cream-dim);
    border: 0px solid var(--cream-dim);
}

.form_input_5 {
    width: 9rem;
    padding: .3rem 0rem;
    border-radius: 5px;
    background-color: var(--cream-dim);
    border: 0px solid var(--cream-dim);
}

.h4 {
    margin-top: .5rem;
    font-size: .9rem;
    text-align: center;
}

.form_button_C_A {
    margin-top: .4rem;
    padding: .2rem .8rem;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;

}




/* ==========================calculation============== */


.calculation {

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0rem 27.5rem 1rem 27rem;
    padding: 1rem 2rem;
    gap: 4rem;
}

.calculation1 {

    display: flex;
    gap: 2rem;
    font-size: 1rem;
    align-items: flex-end;
}

h4 {
    font-size: .7rem;
    align-items: center;

}

.in_cash,
.out_cash,
.intrest_cash,
.sort {
    display: flex;
    gap: 0.3rem;

}

.sort {
    align-self: center;
}


.logout_message_and_timer {

    display: flex;
    justify-content: flex-end;
   

}

.h5 {
    font-size: 1rem;
}

.amount {
    display: flex;
    justify-items: flex-end;
}

.amount_intrest,
.amount_in {
    color: #65be16;
    font-size: 1.3rem;

}

.amount_out {
    color: #ff585f;
    font-size: 1.3rem;
}

.sort {
    font-size: .7rem;
}


/* ==============================================================media query============================================== */



/* =======================================for monitor screen======================================================== */




/* 
@media screen and (min-width: 1980px) { */

    @media only screen   
    and (min-width: 1370px)  
    /* and (max-width: 1605px)   */
    {  
    

    
    
    /* ===========================================nav bar========================= */
    .nav {

        height: 5rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5px;
        text-align: center;
        opacity: 1;
    }

    .login_title {
        margin: 25px 12px;
        padding: 14px 4px;
    }

    .logo img {

        height: 3.4rem;
        margin-left: 20%;
        position: relative;
        left: 14rem;
    }


    .login_id_and_password {
        display: flex;
        position: relative;
        left: 20rem;
        gap: 1rem;
        opacity: 1;

    }

    .input_type_username {
        border: 1px solid #fff;
        border-radius: 10rem;
        width: 7rem;
        font-size: .9rem;
        padding: 0.5rem 2rem;
        text-align: center;
        margin-right: 0px;
        cursor: pointer;
    }

    .input_type_pin {
        border: 1px solid #fff;
        border-radius: 10rem;
        width: 7rem;
        font-size: .9rem;
        padding: 0.5rem 2rem;
        text-align: center;
        margin-right: 0px;
        cursor: pointer;
    }

    .enter_btn{
       
        padding: 0.3rem;
        opacity: 1;

    }



/* =========================================dashboard =================================================== */
.dashboard{
    opacity: 1;
}





/* =================================================================container============================================== */

    .container {
        display: grid;
        grid-template-columns: 4fr 3fr;
        margin: auto 4rem auto;
        padding: 3rem 13rem;
        row-gap: 1rem;
        column-gap: 0rem;
       
    
    }


    .container1{
        display: grid;
        grid-template-rows: auto 15fr auto;
        row-gap: 1rem;  
      }

     .container2{
         display: grid; 
         grid-template-rows: auto repeat(3,35fr) auto; 
        row-gap: 1rem;  
      } 


/* ======================================================amount display=================================== */
 

.current_balance {

    font-family: 'Ubuntu', sans-serif;
    
}

.amount_display {
    font-size: 2.6rem;
    display: flex;
    justify-content: flex-end;
  
    width: 27rem; 
   
   
} 

.display_total_amt {
    display: flex;
}

.cb_container {
    display: flex;
    gap: .5rem;
    font-size: .9rem;
    font-family: 'Ubuntu', sans-serif;
    color: #7D9D9C;

}



/* +====================================================movement=========================== */

.movement_type {
    height: 70vh;
    width: 40rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    background-color: #f3f3f3;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    padding: auto;

}

.deposited {
   
    padding: 22.5px 40px;
    border-radius: 9px 1px 1px 1px; 
    background-color: #FFFFFF;
    font-size: .8rem;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: 1px solid #eee;
}

.deposit_paragraph {
    background: #65be16;
    border-radius: 15px;
    color: #f3f3f3;
    padding: 5px 8px;
    margin: 4px 7px;
    font-size: .7rem;
    
}


.withdrawl {
    
    padding: 22.5px 40px;
    border-radius: 9px 1px 1px 1px; 
    background-color: #FFFFFF;
    font-size: .8rem;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: 1px solid #eee;
}

.withdraw_paragraph {
    background: #df3308;
    border-radius: 15px;
    color: #f3f3f3;
    padding: 5px 8px;
    margin: 4px 7px;
    font-size: .7rem;
    align-self: center;

}

.form {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
/* ===============================================================transfer money=================================== */


.Transfer_money {
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);
    padding: 30px 40px;
    border-radius: 1rem;
    color: #333;
    width: 27rem; 
    height: 10rem;
    
}

.input-transfer-to {
    margin-top: .3rem;
}

h2 {
    margin-bottom: .2rem;
    font-size: 1.2rem;
}

.form_input_1 {

    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
    padding: 0.3rem 1rem;
    border-radius: 0.7rem;
    transition: all 0.3s;
}


.form_input_2 {
   
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
    padding: 0.3rem 1rem;
    border-radius: 0.7rem;
    transition: all 0.3s;
}


.h4 {
    margin-top: .5rem;
    font-size: .9rem;
    text-align: center;
}

.form_button {
    margin-top: .4rem;
    padding: .2rem .8rem;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;

}

/* =========================================request_money======================= */


.request_money {

    background-image: linear-gradient(to top left, #39b385, #9be15d);
   
    padding: 30px 40px;
    border-radius: .5rem;
     width: 27rem;
     height: 10rem;


}

.form_input_3 {

     width: 100%;
     border: none;
     background-color: rgba(255, 255, 255, 0.4);
     font-family: inherit;
     font-size: 1.5rem;
     text-align: center;
     color: #333;
     padding: 0.3rem 1rem;
     border-radius: 0.7rem;
     transition: all 0.3s;
}

.h5 {

    margin-top: .5rem;
    font-size: .9rem;
    text-align: center;


}

.form_button_R_l {
    margin-top:  .15rem;
    padding: .2rem .8rem;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
   

}

/* ========================================close_account==================== */


.close_account {

    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
    display: inline-block;
    width: 27rem; 
    height: 10rem;
    padding: 30px 40px;
    border-radius: .5rem
}

.input-transfer-to {
    margin-top: .3rem;
}

h2 {
    margin-bottom: .2rem;
    font-size: 1.2rem;
}

.form_input_4 {
   
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
    padding: 0.3rem 1rem;
    border-radius: 0.7rem;
    transition: all 0.3s;
}

.form_input_5 {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
    padding: 0.3rem 1rem;
    border-radius: 0.7rem;
    transition: all 0.3s;
}

.h4 {
    margin-top: .5rem;
    font-size: .9rem;
    text-align: center;
}

.form_button_C_A {
    margin-top: .4rem;
    padding: .2rem .8rem;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;

}




/* ==========================calculation============== */


.calculation {

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0rem 27.5rem 1rem 27rem;
    padding: 1rem 2rem;
    gap: 4rem;
}

.calculation1 {

    display: flex;
    gap: 2rem;
    font-size: 1rem;
    align-items: flex-end;
}

h4 {
    font-size: .7rem;
    align-items: center;

}

.in_cash,
.out_cash,
.intrest_cash,
.sort {
    display: flex;
    gap: 0.3rem;

}

.sort {
    align-self: center;
}


.logout_message_and_timer {

    display: flex;
    justify-content: flex-end;
   

}

.h5 {
    font-size: 1rem;
}

.amount {
    display: flex;
    justify-items: flex-end;
}

.amount_intrest,
.amount_in {
    color: #65be16;
    font-size: 1.3rem;

}

.amount_out {
    color: #ff585f;
    font-size: 1.3rem;
}

.sort {
    font-size: .7rem;
}
    
    





    
  }




  /* ============================================ipad---------------------------------------- */



  @media only screen   
and (orientation : landscape)   
and (-webkit-min-device-pixel-ratio: 1)  
and (min-device-width : 768px)   
and (max-device-width : 1007px)   
{




















}